*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.back-video{
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
    size: 393px 851px;
}
@media (min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 9/16){
    .back-video{
        width: auto;
        height:100%;
    }
}